{% extends "bootstrap/base.html" %}

{% block navbar %}
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="bootstrap" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
</html>
<body>
    <nav class="navbar">
        <h2>Bin Buddy</h2> 
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('live_view') }}">Live View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('leaderboard') }}">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
            </li>
        </ul>
    </nav>
</body>
{% endblock %}