{% extends "bootstrap/base.html" %}

{% block navbar %}
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
</html>
<div>
        <table class="navi">
            <tr>
                <td>
                    <p class="title">Bin Buddy 
                    <br>
                    <a class="page" href="{{ url_for('live_view') }}">Live View</a> |
                    <a class="page" href="{{ url_for('dashboard') }}">Dashboard</a> |
                    <a class="page" href="{{ url_for('leaderboard') }}">Leaderboard</a> |
                    <a class="page" href="{{ url_for('profile') }}">Profile</a>
                    </p>
                </td>
            </tr>
        </table>
        <br>
</div>
{% endblock %}