{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bin Buddy</a>
    {% if name != "home" %}
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-controls="navbarNav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                {% if name == "live" %}
                <p class="selected"><a class="nav-link" href="{{ url_for('live') }}">Live</a></p>
                {% else %}
                <a class="nav-link" href="{{ url_for('live') }}">Live</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if name == "dashboard" %}
                <p class="selected"><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></p>
                {% else %}
                <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if name == "leaderboard" %}
                <p class="selected"><a class="nav-link" href="{{ url_for('leaderboard') }}">Leaderboard</a></p>
                {% else %}
                <a class="nav-link" href="{{ url_for('leaderboard') }}">Leaderboard</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if name == "settings" %}
                <p class="selected"><a class="nav-link" href="{{ url_for('settings') }}">Settings</a></p>
                {% else %}
                <a class="nav-link" href="{{ url_for('settings') }}">Settings</a>
                {% endif %}
            </li>
        </ul>
    </div>
    {% endif %}
</nav>
{% endblock %}
