{% extends "base.html" %}
{% set name = "settings" %}

{% block content %}
<h1>Change Local Council</h1>
<form method="POST">
    <div class="form-group">
        <label for="new_council">New Council:</label>
        <!-- Dropdown list of councils with IDs as values -->
        <select class="form-control" id="new_council" name="new_council" required>
            {% for council in councils %}
            <option value="{{ council.id }}" {% if council.id == current_council_id %}selected{% endif %}>{{ council.name }}</option>
            {% endfor %}
          </select>
    </div>
    <button type="submit" class="btn btn-primary">Change Council</button>
    <a href="{{ url_for('settings') }}" class="btn btn-secondary">Cancel</a>
</form>
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
{% endblock %}
