{% extends "base.html" %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <style>
                img{
                    height: 100;
                    aspect-ratio: 1;
                    object-fit: contain;
                }

                .split{
                    border-bottom: 1px solid black;
                }
            </style>
            <script>
                var data = {
                    "xs":[
                        ["Plastic","Paper","Glass","General Waste","Food"],
                        ["17/3","18/3","19/3","20/3","21/3","Yesterday","Today"]
                    ],
                    "ys":[
                        [20,30,7,45,35],
                        [36,87,23,12,85,23,5]
                    ]
                }
            </script>
        </head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <body>
            <div id="typeRatio"></div>
            <div class="split"></div>
            <div id="dailyTrend"></div>

            <script>
                var chart_data = [{
                    labels: data.xs[0],
                    values: data.ys[0],
                    type:'pie',
                }];
                var layout = {title:'Recycling by type'};
                Plotly.newPlot("typeRatio",chart_data,layout);

                chart_data = [{
                    x: data.xs[1],
                    y: data.ys[1],
                    mode:"lines",
                    type:"scatter"
                }];
                layout = {
                    title:"Days this week",
                    xaxis:{
                        range:[-1,chart_data[0].x.length],
                        title:"Days"
                    },
                    yaxis:{
                        title:"Total items"
                    }
                };
                Plotly.newPlot("dailyTrend", chart_data, layout);
            </script>
        </body>
    </html>
{% endblock %}
