{% extends "base.html" %}
{% set name = "dashboard" %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <style>
                img{
                    height: 100;
                    aspect-ratio: 1;
                    object-fit: contain;
                }
            </style>
        </head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <body>
            <div class="fact">
                <p>{{ fact }}</p>
            </div>
            <div class="split"></div>
            <br>
            <select id="timeFrame">
                <option value="7days">Last 7 days</option>
                <option value="14days">Last 14 days</option>
                <option value="month">Last month</option>
                <option value="6months">Last 6 months</option>
                <option value="year">Last year</option>
                <option value="all">All time</option>
            </select>
            <br><br>
            <div class="split"></div>
            <div id="typeRatio"></div>
            <div class="split"></div>
            <div id="dailyTrend"></div>
            <div class="split"></div>
            <div id="hourlyAverage"></div>
            <div class="split"></div>
            <div id="history"></div>

            <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
        </body>
    </html>
{% endblock %}
