{% extends "base.html" %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <style>
                img{
                    height: 100;
                    aspect-ratio: 1;
                    object-fit: contain;
                }

                .split{
                    border-bottom: 1px solid black;
                }
            </style>
        </head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
        <body>
            <div id="typeRatio"></div>
            <div class="split"></div>
            <div id="dailyTrend"></div>
        </body>
    </html>
{% endblock %}
