{% extends "base.html" %}
{% set name = "live" %}

{% block content %}
    <head>
    </head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <body>
        <div class="fact">
            <p>{{ fact }}</p>
        </div>
        <div class="split"></div>
        <div>
            <h1 id="recent">...</h1>
            <p>most recent item</p>
        </div>
        <div>
            <h1 id="today_count">...</h1>
            <p>items scanned today</p>
        </div>
        <br>
        <div class="split"></div>
        <div id="hourlyAverage"></div>

        <script src="{{ url_for('static', filename='js/live.js') }}"></script>
    </body>
{% endblock %}